@use "./base.scss";

// put your custom CSS here!
nav .tree-item {
    padding-left: 1rem;
    border-left: 2px solid #ddd;
  }
  
  nav .tree-item-self {
    font-weight: 500;
  }
  
  nav .tree-item-children .tree-item-self {
    font-weight: 400;
    color: #666;
  }
  
  nav .tree-item-children .tree-item-children .tree-item-self {
    font-style: italic;
    color: #999;
  }
  